/* Provide sufficient contrast against white background */
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');


.btn-primary {
  color: #fff !important;
  background-color: #8a2be2 !important;
  border-color: #600eb3 !important;
}

.btn-primary:hover{
  color: #fff !important;
  background-color: #600eb3 !important;
  border-color: #8a2be2 !important;
}

.btn-secondary {
  color: #fff !important;
  background-color: #008000 !important;
  border-color: #116600 !important;
}

.btn-secondary:hover {
  color: #fff !important;
  background-color: #116600 !important;
  border-color: #008000 !important;
}

body {
  background-image: url("./img/forest.jpg");
  background-repeat: no-repeat;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Cinzel Decorative';
}
